.header {
	max-width: calc(100% - 2*200px);
	margin: 45px auto 0;
	border-bottom: 1px solid rgb(84,84,84, 0.7);
	display: flex;
	justify-content: space-between;
}
@media screen and (min-width:751px) and (max-width:1279px) {
    .header {
		max-width: calc(100% - 2*20px);
    }
}

@media screen and (max-width:751px) {
    .header {
		max-width: 100%;
		margin-top: 28px;
    }
} 