.content {
	max-width: calc(100% - 2*200px);
	margin: 0 auto;
}
@media screen and (min-width:751px) and (max-width:1279px) {
    .content {
		max-width: calc(100% - 2*20px);
    }
}
@media screen and (max-width:751px) {
    .content {
		max-width: 100%;
    }
}